<h1>Área da Gerência</h1>
<a href="/">Voltar</a>
  <% if (user) { %>
    <div class="user-info">
      <span>Olá, <%= user.username %></span>
      <a href="/auth/logout" class="logout-btn">Sair</a>
    </div>
  <% } %>
</a>
