<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/imagens/favicon.ico.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">

  <title>Portal Atalhos CPD 284</title>
</head>
<body>

<header class="header">
  <div class="header-conteudo">

    <div class="header-texto">
      <h1 class="titulo-principal">CPD 284 - Atacadã
