<!DOCTYPE html>
<html>
<head>
    <title>Portal CPD</title>
</head>
<body>
    <h1>Bem-vindo!</h1>
    <p>Perfil: <%= perfil %></p>

    <a href="/gerencia">Gerência</a><br>
    <a href="/cpd">CPD</a><br>
    <a href="/logout">Sair</a>
</body>
</html>
