<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login - CPD 284</title>

  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/imagens/favicon.ico.png" type="image/x-icon">
</head>

<body class="body-login-page">

  <!-- CABEÇALHO -->
  <header class="header-login">
    <div class="header-login-conteudo">    
      <div class="header-login-texto">
        <h1 class="titulo-principal">CPD 284 - Atacadão</h1>
        <p>Todos os links internos que você precisa em um só lugar!</p>
    </div>
    
        <div class="header-login-imagem">
        <img src="/static/imagens/logoataca.jpg" alt="Atacadão">
      </div>
    </div>
  </header>

  <!-- CONTEÚDO CENTRAL -->

  <main class="main-login">
    
    <div class="login-container-card">
      <h2>Login do Sistema</h2>

      <% if (typeof error !== 'undefined' && error) { %>
        <div class="error-message"><%= error %></div>
      <% } %>

      <form action="/auth/login" method="POST">
        <label for="login">Usuário</label>
        <input
          type="text"
          id="login"
          name="login"
          placeholder="Digite seu usuário"
          required
        >

        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="Digite sua senha"
          required
        >

        <div class="btn-login">
          <button type="submit" class="btn-entrar">Entrar</button>
          <a href="/"class="btn-voltar">Voltar ao menu</a>
        </div>
      </form>
    </div>
  </main>

<footer class="footer">
  <p class="linha-email">
    📧 Email:
    <a href="mailto:cpdcaxiasdosul@atacadao.com.br">
      cpdcaxiasdosul@atacadao.com.br
    </a>

    <span class="logo-animada">
      <img src="/static/imagens/logocpd284.png" alt="Logo CPD 284">
    </span>
  </p>

  <p>
    ©Copy 2025/2026 – CPD 284 • Desenvolvido por:
    <a href="https://github.com/Iamjordana" target="_blank">Jordana Medeiros</a>
    • Versão: 1.0
  </p>
</footer>

<!-- JS DO MENU -->
<script src="/static/js/menu.js"></script>
</body>
</html>
</body>
</html>