<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login CPD</title>
</head>
<body>

<main>
  <h2>Login CPD 284</h2>

  <form action="/auth/login" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="senha" placeholder="Senha" required>
    <button class="btn_atalho">Entrar</button>
  </form>
</main>

</body>
</html>
