<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/imagens/favicon.ico.png" type="image/x-icon">

  <title>Prevenção e Perdas</title>
</head>
<body>

<header class="header">
  <div class="header-conteudo">

    <div class="header-texto">
      <h1 class="titulo-principal">CPD 284 - Atacadão</h1>
      <p>Todos os links internos que você precisa em um só lugar!</p>
    </div>

    <div class="header-imagem">
      <img src="/imagens/logoataca.jpg" alt="Atacadão">
    </div>

  
